/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


/* src/css/custom.css */

.button-container {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  /* Optional: Innenabstand der Buttons */
  background-color: #007bff;
  /* Optional: Hintergrundfarbe der Buttons */
  color: white;
  /* Optional: Textfarbe */
  border: none;
  border-radius: 0.25rem;
  /* Optional: Abgerundete Ecken */
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
  /* Optional: Hover-Effekt */
}